/*
======================================== */

/* 1. Global Styles
======================================== */

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Outfit", sans-serif;
  background: #d5e1ef;
  font-size: 15px;
}

/*
======================================== */

/* 2. Layout
======================================== */

main {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  margin: 0 auto;
  background: #fff;
  padding: 1em;
  width: 320px;
  border-radius: 20px;
  box-shadow: 0 25px 25px rgb(0 0 0 / 0.05);
}

img,
p {
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  width: 288px;
  border-radius: 10px;
}

h2 {
  color: #1f314f;
  font-size: 22px;
  margin: 1em 0;
}

p {
  color: #7d889e;
  margin-bottom: 2em;
  width: 256px;
}

/*
======================================== */

/* 3. Typography
======================================== */

h2,
p {
  text-align: center;
}
